@import "../../global.scss";

.bldApp{
    height: calc(100vh - 15px);
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .hidden{
        visibility:  hidden;
    }
}

.awaiting{
    background-color: $overlay300;
}