@import "../../global.scss";

.mbldApp{

    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .level{
        border: 2px solid $baseColor;
        padding: 2%;
        width: 100px;
        text-align: center;
        font-size: xx-large;
        border-radius: 10px;
        opacity: 1;
    }

    button{
        cursor: pointer;
        padding: 2px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $overlay800;
        background-repeat: no-repeat;
        border: 1px $overlay800 solid;
        overflow: hidden;
        color: white;
        outline: none;
        border-radius: 10px;
        margin-right: 20px;
    }
}