@import "../../global.scss";

.memoCheckMBLD{

    .textAnswer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input{
        border: 2px solid $baseColor;
        padding: 2%;
        width: 500px;
        text-align: center;
        font-size: xx-large;
      }
}